@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    line-height: 16px;
    font-size: 16px;
    overflow-x: hidden;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
    --primary-color: #0932e1;
    --primary-color-2: #0973e6;
    --text-color: #07194f;
    --text-color-2: #777;
}




ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

.clearfix{
    height: 60px;
}

/* ===== Loading ===== */
.loading{
    background: #fff url(../imgs/loading-demo.gif) no-repeat center center;
    background-size: 4%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*====== Reveal ======*/
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all ease 1s;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.services__service .reveal:nth-child(3n-2){
    transition: all ease 0.5s;
}
.services__service .reveal:nth-child(3n-1){
    transition: all ease 1s;
}
.services__service .reveal:nth-child(3n+0){
    transition: all ease 1.5s;
}


.data__content .reveal:nth-child(1){
    transition: all ease 0.5s;
}
.data__content .reveal:nth-child(2){
    transition: all ease 1s;
}
.data__content .reveal:nth-child(3){
    transition: all ease 1.5s;
}
.data__content .reveal:nth-child(4){
    transition: all ease 2s;
}

.reveal-2{
    position: relative;
    transform: translateX(30px);
    opacity: 0;
}
.reveal-2.active{
    transform: translateX(0);
    opacity: 1;
}


.perners__data .reveal-2:nth-child(6n-5){
    transition: all ease 0.3s;
}
.perners__data .reveal-2:nth-child(6n-4){
    transition: all ease 0.6s;
}
.perners__data .reveal-2:nth-child(6n-3){
    transition: all ease 0.9s;
}
.perners__data .reveal-2:nth-child(6n-2){
    transition: all ease 1.2s;
}
.perners__data .reveal-2:nth-child(6n-1){
    transition: all ease 1.5s;
}
.perners__data .reveal-2:nth-child(6n+0){
    transition: all ease 1.8s;
}

.reveal-3{
    position: relative;
    transform: translate(-20px,50px);
    opacity: 0;
}
.reveal-3.active{
    transform: translate(0,0);
    opacity: 1;
}

.gallery__list .reveal-3:nth-child(3n-2){
    transition: all ease 0.6s;
}
.gallery__list .reveal-3:nth-child(3n-1){
    transition: all ease 1.2s;
}
.gallery__list .reveal-3:nth-child(3n){
    transition: all ease 1.8s;
}

/* ===== ScrollUp ===== */
.scrollUp{
    position: fixed;
    bottom: -20%;
    right: 2.5rem;
    width: 40px;
    height: 46px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    color: #555;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 99;
}
.scrollUp:hover{
    color: #000;
    transform: translateY(-5px);
}
.scrollUp.active{
    bottom: 3rem;
}

/*====== Cursor animation =======*/

.cursor{
    position: fixed;
    z-index: 99;
}

.cursor .click-animation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor .click-animation .shape{
    position: absolute;
    opacity: 0;
}

.cursor .click-animation .shape.circle.big{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(8, 21, 197, 0.25);
    border-radius: 50%;
}

.cursor .click-animation .shape.circle.small{
    width: 10px;
    height: 10px;
    border: 0.5px solid rgba(27, 62, 216, 0.25);
    border-radius: 50%;
}

.cursor.active .click-animation .shape.circle{
    animation: click-animation-circle 3s ease-out infinite;
}

@keyframes click-animation-circle {
    0%{opacity: 0;}
    5%{opacity: 1;}
    30%{opacity: 0; transform: scale(3);}
}

.cursor .click-animation .shape.triangle.yellow{
    border-style: solid;
    border-width: 0 3px 6px 3px;
    border-color: transparent transparent #00ade2 transparent;
}

.cursor.active .click-animation .shape.triangle.yellow{
    animation: click-animation-triangle-yellow 3s ease-out infinite;
}

@keyframes click-animation-triangle-yellow {
    0%{opacity: 0;}
    5%{opacity: 1;}
    40%{opacity: 0; transform: scale(2.5) translate(50px, -50px) rotate(360deg);}
}

.cursor .click-animation .shape.triangle.green{
    border-style: solid;
    border-width: 0 2px 4px 2px;
    border-color: transparent transparent #0932e1 transparent;
}
.cursor.active .click-animation .shape.triangle.green{
    animation: click-animation-triangle-green 3s ease-out infinite;
}

@keyframes click-animation-triangle-green {
    0%{opacity: 0;}
    5%{opacity: 1;}
    40%{opacity: 0; transform: scale(2.5) translate(20px, 50px) rotate(360deg);}
}

.cursor .click-animation .shape.disc{
    width: 4.5px;
    height: 4.5px;
    background: #9c1006;
    border-radius: 50%;
}
.cursor.active .click-animation .shape.disc{
    animation: click-animation-disc 3s ease-out infinite;
}
@keyframes click-animation-disc {
    0%{opacity: 0;}
    5%{opacity: 1;}
    40%{opacity: 0; transform: scale(2) translate(-70px, -30px);}
}


/*===== Header ======*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
}
.header.active{
    background: #fff;
    box-shadow: 0 0 4px #ddd;
    transition: 0.5s;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__logo a{
    display: inline-flex;
}

.header__logo-img{
    width: 50px;
}

.header__logo-name{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 14px;
    font-weight: 600;
}

.header__menu{
    display: flex;
    align-items: center;
}

.header__menu-item{
    display: block;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    transition: .4s;
}

.header__menu-item:hover{
    color: var(--primary-color-2);
}

.header__action{
    text-align: end;
    position: relative;
}

.header__action-icon{
    font-size: 28px;
    padding: 6px 10px;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 999;
}
.header__action-icon.active{
    display: inline-block;
}
.action-icon-hide.active{
    display: inline-block;
    animation: spin 0.5s linear forwards;
}

@keyframes spin {
    100%{transform: rotate(90deg);}
}

.header__action-icon:hover{
    color: var(--primary-color-2);
}

.header__submenu{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 150px;
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    padding: 10px 0;
    text-align: start;
    border-radius: 4px;
    display: none;
}
.header__submenu.active{
    display: block;
    animation: showMenu 0.5s linear;
}

@keyframes showMenu {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.header__submenu-item{
    display: block;
    padding: 10px 0;
    padding-left: 14px;
}

.header__submenu-item:hover{
    color: var(--primary-color-2);
}

.submenu__icon{
    width: 20px;
}

/*Menu-mobile*/
.header__menu-mobile{
    display: none;
}
.menu__mobile{
    position: relative;
    float: right;
}

.menu__mobile::after{
    content: "";
    position: absolute;
    top: 48px;
    left: 8px;
    border-style: solid;
    border-width: 6px 10px;
    border-color: transparent transparent var(--primary-color)transparent;
    display: none;
    animation: mennuMobile 0.5s linear;
}
.menu__mobile.active::after{
    display: block;
}

.menu__mobile-btn{
    display: block;
}
.menu__mobile-btn i{
    padding: 4px;
    font-size: 30px;
}
.menu__mobile-list{
    position: fixed;
    top: 80px;
    right: 0;
    width: 50vw;
    background: #fff;
    box-shadow: 0 1px 6px #ddd;
    padding: 40px 0;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    animation: mennuMobile 0.5s linear;
    display: none;
}
.menu__mobile-list.active{
    display: block;
}
@keyframes mennuMobile {
    0%{
        opacity: 0;
/*        transform: translateY(-50px);*/
    }
    100%{
        opacity: 1;
/*        transform: translateY(0);*/
    }
}


.menu__mobile-item{
    display: block;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/*=========== Banner ======= */
.banner{
    padding-top: 80px; 
    margin: auto;
    position: relative;
}

.banner__bg{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: url(../imgs/bg-33.png);
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: -1;
}


.banner__content{
    display: flex;
    align-items: center;
}

.banner__title{
    font-weight: bold;
    font-size: 52px;
    line-height: 1.4;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: var(--text-color);
}

.banner__title span{
    /* background: linear-gradient(to bottom, #0932e1 0%, #1e7ee6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    color: var(--primary-color);
    position: relative;
}
.banner__title span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 95%;
    width: 100%;
    border-left: 4px solid var(--text-color);
    animation: typing 2s steps(16) infinite;
    background: #fff;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


.banner__desc{
    padding: 40px 0;
    color: #555;
    transform: translateY(-35px);
}
.banner__desc-icon{
    width: 40px;
}

/* About */
/*-------- Giới thiệu -----------*/
.about{
    /* background-image: url(../imgs/bg-2.png);
    background-repeat: no-repeat;  */
    position: relative;
    top: -5px;
}

.about__container{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.about__content{
    padding-left: 30px;
}
.about__content h5{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    color: #00c3e2;
    position: relative;
}
.about__content h5::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -30px;
    width: 22px;
    height: 2px;
    background-color: #00c3e2;
}
.about__content h2{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom, #0932e1 0%, #1e7ee6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 20px 0;
}
.about__content p{
    font-size: 18px;
    margin: 20px 0;
    color: #666;
}

.about__text{
    font-size: 16px;
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 2rem;
    color: var(--text-color-2);
}
.about__text li{
    margin: 14px 0;
    padding-left: 14px;
    font-style: italic;
}

/* Khối lập phương */
.cube__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-cube{

}


.cube{
    position: relative;
    width: 8rem;
    height: 8rem;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cube 8s linear infinite;
}
.cube-st{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube-st span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #580101);
    transform: rotateY(calc(90deg * var(--i))) translateZ(4rem); /*300/2=150 */
}

.cube .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: #222;
    transform: rotateX(90deg) translateZ(4rem);
}
.cube .bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 8rem;
    background: #580101;
    transform: rotateX(90deg) translateZ(-6rem);
    filter: blur(10px);
    box-shadow: 0 0 4rem rgba(88,1,1, 0.2),
    0 0 8rem rgba(88,1,1, 0.4),
    0 0 12rem rgba(88,1,1, 0.6),
    0 0 16rem rgba(88,1,1, 0.8),
    0 0 22rem rgba(88,1,1, 1);
}

.cube:hover{
    cursor: pointer;
}
.cube:hover .cube-st span{
    background: linear-gradient(#151515, #1a5801);
}
.cube:hover .bottom{
    background: #1a5801;
    box-shadow: 0 0 4rem rgba(4, 88, 1, 0.2),
    0 0 8rem rgba(4, 88, 1, 0.4),
    0 0 10rem rgba(4,88,1, 0.6),
    0 0 14rem rgba(4,88,1, 0.8),
    0 0 18rem rgba(4,88,1, 1);
}

@keyframes cube {
	0%{
		transform: rotateX(-30deg) rotateY(0);
	}
	100%{
		transform: rotateX(-30deg) rotateY(360deg);
	}
}

@keyframes rotate {
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(-360deg);
	}
}





/*===== Main ======*/
.main{
    position: relative;
}

.background__main{
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: url(../imgs/bg-4.png);
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: -1;
}
/*===== Services ======*/

.background__services{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1400px;
    background-image: url(../imgs/bg-4.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: -9;
}

.section{
    position: relative;
    padding: 40px 0;
    
}

.section__title{
    padding: 20px 0;
    text-align: center;
}
.section__title h4{
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #00c3e2;
    font-weight: 700;
}

.section__title h3{
    font-family: sans-serif;
    font-size: 32px;
    color: #313b77;
    font-weight: 700;
    margin: 10px 0;
    position: relative;
}
.section__title .what{
    display: inline-block;
}
.section__title .what::after{
    content: "";
    position: absolute;
    left: 0;
    height: 95%;
    width: 100%;
    border-left: 4px solid var(--text-color);
    animation: typing2 2s steps(16) infinite;
    background: #fff;
}

@keyframes typing2{
    70%,100%{
        left: 100%;
        margin: 0 -35px 0 10px;
    }
}

/*.title-bar{
    position: relative;
}
.title-bar::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 270px;
    height: 13px;
    margin: auto;
    background: url('../imgs/title_bar02.png') no-repeat;
}*/
.services__action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #dde2e9;
}
.services__action-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background: #fff;
}
.services__action-item.active{
    background: rgba(211, 223, 255, 0.4);
}
.services__action-item:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    background: rgba(211, 223, 255, 0.4);
    z-index: 9;
}

.services__action .services__action-item:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #dde2e9;
}
.services__action .services__action-item:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.services__action-item:hover{
    cursor: pointer;
}


.services__name{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #313b77;
    position: relative;
    z-index: 99;
}

.services__container{
    padding: 30px 0;
    display: none;
}
.services__container.active{
    display: block;
    animation: opacity 1s linear;
}

@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.services__item{
    margin-bottom: 40px;
}

.services__item-service{
    position: relative;
    padding: 40px;
    box-shadow: 0 0 20px #ddd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
    background: #fff;
    color: var(--text-color);
}
.services__item-service:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.items__overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all 0.5s ease-in-out;
}
.services__item-service:hover .items__overlay{
    width: 100%;
    height: 100%;
}
.services__item-service h4{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.services__item-img{
    width: 120px;
    height: 150px
}

.services__item-img img{
    object-fit: cover;
}
.services__service .services__item-img img{
    -webkit-box-reflect: right -70px linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05), rgba(255,255,255,0.05));
}

.services__marketing{
    padding: 20px;
    max-height: 1450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Handle */
.services__marketing::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .services__marketing::-webkit-scrollbar-track {
    background: #fff; 
    box-shadow: inset 0 0 5px grey;
  }
  .services__marketing::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 10px;
  }

.services__marketing .services__item-img{
    width: 320px;
    height: 320px;
    transform-style: preserve-3d;
    transition: all .6s ease-in-out;
}
.services__marketing .services__item-service:hover .services__item-img{
    transform: rotateY(180deg) scale(1.1);
}

.services__marketing .services__item-img img{
    border-radius: 10px;
}

.services__marketing .services__item-service h4{
    font-size: 20px;
    padding: 0px 20px;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    transition: 1.5s;
}
.services__marketing .services__item-service h4::after{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 40%;
    height: 100%;
    background: teal;
    transition: 1.5s;
}
.services__marketing .services__item-service:hover h4{
    color: teal;
}
.services__marketing .services__item-service:hover h4::after{
    left: 150%;
}

.services__item-icon{
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-size: 20px;
    color: #999;
    transition: .4s;
    transform: translateX(-2px);
    opacity: 0;
}
.services__item-service:hover .services__item-icon{
    transform: translateX(3px);
    color: #222;
    opacity: 1;
}

/* Watch video */
.watch{
    background: linear-gradient(48deg, #e4efff, rgb(0 0 0 / 0%));
}
.watch__container{
    position: relative;
    width: 100%;
    height: 600px;
/*    background-image: url(../imgs/tivi-bg.png);
    background-position: center;
    background-repeat: no-repeat;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch__bg{
    /* position: absolute;
    top: 0;
    left: 0; */
}

.watch__video,.box-review{
    position: relative;
    text-align: center;
    display: none;
}
.watch__video.active,.box-review.active{
    display: block;
    animation: opaci 1s linear;
}

@keyframes opaci{
    0%{opacity: 0}
    100%{opacity: 1}
}

.cto-line{
    position: absolute;
    top: 230px;
}
.cto-cube{
    position: absolute;
    bottom: 100px;
    width: 400px;
}

@media (max-width: 1500px) {
    .cto-line{
        position: absolute;
        top: 300px;
    }
}

.box-review iframe{
    width: 890px;
    border: 0;
    height: 510px;
}
.watch__video iframe{
    width: 890px;
    border: 0;
    height: 510px;
}

.watch__video-img{
    width: 800px;
    height: 470px;
    transform: translateY(-40px);
    border-radius: 10px;
}

.watch__play-icon{
    position: absolute;
    top: 35%;
    left: 46%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 21px rgba(0, 118, 229, 0.79);
    background-color: #00ade2;
    transition: box-shadow .4s,background-color .4s,-webkit-box-shadow .4s;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    transition-property: box-shadow, background-color, -webkit-box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.watch__play-icon:hover{
    box-shadow: 0 0 21px rgb(0 214 229 / 79%);
    background-color: #00c3e2;
    transition: box-shadow .4s,background-color .4s,-webkit-box-shadow .4s;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    transition-property: box-shadow, background-color, -webkit-box-shadow;
}

.watch__play-icon img{
    width: 30px;
    transform: translateX(5px);
}

.modal__watch{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal__watch.active{
    display: flex;
    animation: opacity 0.5s linear;
}

.box__watch{
    width: 1000px;
    height: 600px;
}
.box__watch iframe{
    width: 100%;
    height: 100%;
}

/* Statistical */
.statistical__bg{
    position: absolute;
    top: -30%;
    left: 0;
    background: url(../imgs/bg-2.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1500px;
    z-index: -9;
}

.statistical__title h2{
    background: linear-gradient(to bottom, #0932e1 0%, #1e7ee6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-size: 40px;
}


.statistical__content{
    text-align: center;
}

.statistical__name{
    margin-top: 20px;
    color: #777;
    display: block;
}

.data__content{
    margin-top: 40px;
}

.data__item{
    background: #fff;
    padding: 40px 20px;
    margin: 0 10px;
    box-shadow: 10px 10px 40px 0px rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.data__item-top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #5874cf;
}
.data__item-icon{
    color: teal;
    font-size: 22px;
    padding-right: 20px;
}
.data__item-number{
    margin: 0 4px;
}
.data__item-bottom{
    text-align: center;
    padding: 10px 0;
}


.perners__title{
    text-align: center;
    padding: 20px 0;
    color: var(--text-color);
}

.contact{
    margin-top: 40px;
    position: relative;
    background-image: url(../imgs/bg-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.contact__content{
    align-items: center;
    color: #fff;
}

.contact__title{
    color: #dcf5fd;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.contact__title::after{
    content: "";
    position: absolute;
    bottom: 6px;
    right: -50px;
    width: 44px;
    height: 2px;
    background-color: #dcf5fd;
}

.contact__name{
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
}
.contact__list p{
    color: #ddd;
}

.form__group{
    display: block;
    margin: 20px 0;
}
.form__group input{
    height: 54px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #ddd;
}
.form__group textarea{
    background: #ddd;
}
.form__group input::placeholder, .form__group textarea::placeholder{
    color: #999;
    font-size: 14px;
}

.form__group input:focus,.form__group textarea:focus{
    background: #fff;
}

.btn__submit{
    padding: 10px 30px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: #fff;
    box-shadow:  0 0 8px #ccc;
    transition: 0.5s;
}
.btn__submit:hover{
    background: #d3f2fc;
}

.social{
    display: flex;
    align-items: center;
}
.social__item{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid #fff;
}
.social__item:hover{
    transform: scale(1.1);
}

/* Parners */
.perners__item{
    height: 100%;
    padding: 0 8px;
}
.perners__item img{
    height: 100%;
}
.perners__img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #eee;
    height: auto !important;
}
/* Adviser */
.adviser{
    margin-top: 20px;
}

/* Gallery */
.gallery__title{
    text-align: center;
}
.gallery__title h5{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    text-transform: uppercase;
    color: #00c3e2;
}
.gallery__title h2{
    color: var(--text-color);
    display: inline-block;
    position: relative;
}
.gallery__title h2::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(-24%);
    width: 200%;
    height: 1px;
    background: var(--text-color);
}

.gallery__content{
    padding-top: 60px;
}

/* .gallery__list{
    background: #f2f2f2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
} */

/* stretch vertically */
.v-stretch{
    grid-row: span 2;
}

/* stretch horizontally */
.h-stretch{
    grid-column: span 2;
}

/* stretch vertically & horizontally */
.big-stretch{
    grid-row: span 2;
    grid-column: span 2;
}

.gallery__item{
    cursor: pointer;
    position: relative;
    margin-bottom: 26px;
}
.gallery__item::before{
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    z-index: 1;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.gallery__item:hover::before{
    transform: scale(1);
    -webkit-transform: scale(1);
}

.gallery__item::after{
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 20px;
    right: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    z-index: 1;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.gallery__item:hover::after{
    transform: scale(1);
    -webkit-transform: scale(1);
}

.gallery__item:hover .gallery__name{
    opacity: 1;
}

.gallery__name{
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--primary-color);
    text-shadow: 0 1px 4px rgb(11, 9, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s;
}

.gallery__item .gallery__name img{
    width: 80px;
    height: auto;
    opacity: 0.5;
}

.gallery__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 560px) {
    .v-stretch{
        grid-row: span 1;
    }

    .h-stretch{
        grid-column: span 1;
    }

    .big-stretch{
        grid-row: span 1;
        grid-column: span 1;
    }
}

.modal__gallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal__gallery.active{
    display: flex;
}
.modal__img{
    position: relative;
    background: #fefefe;
    padding: 60px 40px;
    box-shadow: 0 0 10px #ddd;
    max-width: 80vw;
    height: 90vh;
    text-align: center;
}
.modal__preview{
    width: 100%;
    max-height: 100%;
}

.modal__gallery-close{
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.modal__gallery-close:hover{
    color: var(--primary-color);
}


/*===== Footer ======*/

.copyright{
    text-align: center;
    padding: 10px;
    font-style: italic;
}



.bg-arrows{
    position: absolute;
    top: 60px;
    z-index: -9;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/bg-arrows-2.png');
    background-repeat: no-repeat;
    background-size: 693px 360px;
}

.bg-cube{
    position: absolute;
    top: -100px;
    z-index: -9;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/bg-cube.png');
    background-repeat: no-repeat;
    background-size: 723px 600px !important;
    background-position: right;
}
.bg-gif-cube{
    position: absolute;
    top: -20px;
    z-index: 9;
    width: 90%;
    height: 18%;
    background-image: url('../imgs/cube.gif');
    background-repeat: no-repeat;
    background-size: 280px 200px !important;
    background-position: right;
}
.bg-img-one{
    position: absolute;
    z-index: -9;
    top: 40%;
    left: 0;
    width: 150px;
    height: 150px;
    animation: imgOne 8s linear infinite;
}
@keyframes imgOne{
    0%{
        transform: translate(0,0);
    }
    30%{
        transform: translate(30px,0);
    }
    60%{
        transform: translate(0,-10px);
    }
    80%{
        transform: translate(0,20px);
    }
    100%{
        transform: translate(0,0);
    }
}

.bg-img-two{
    position: absolute;
    z-index: -9;
    top: -30%;
    left: 0;
    width: 400px;
    height: 400px;
    animation: imgTwo 6s linear infinite;
}

@keyframes imgTwo{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,40px);
    }
    100%{
        transform: translate(0,0);
    }
}

.bg-img-three{
    position: absolute;
    z-index: -9;
    bottom: 20%;
    right: 0;
    width: 300px;
    height: 300px;
    opacity: 0.6;
    animation: imgTwo 6s linear infinite;}

@keyframes imgTwo{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,40px);
    }
    100%{
        transform: translate(0,0);
    }
}